<!DOCTYPE html>

<html>

<body>

    <header style="height:100px; background-color:green">
        <h1> This is Header</h1>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer style="height:100px; background-color:yellow">
        <h1> This is Footer</h1>
    </footer>

</body>
</html>